# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw data
data/raw/*.csv
data/raw/*.db
data/raw/*.sqlite
data/raw/*.sqlite3

# Database files
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Secrets
.env